<form name="searchForm" role="form" style="margin-top: 20px;">
    <div class="form-group">
        <label for="Title">地区：</label>
        <select id="type" class="form-control">
                <option value="中国大陆">中国大陆</option>
                <option value="香港">香港</option>
                <option value="美国">美国</option>
                <option value="台湾">台湾</option>
                <option value="印度">印度</option>
                <option value="日本">日本</option>
        </select>
    </div>
    <div class="form-group">
        <label for="type">电影类型：</label>
        <select id="type" class="form-control">
          <option value="剧情">剧情</option>
          <option value="动画">动画</option>
          <option value="喜剧">喜剧</option>
          <option value="动作">动作</option>
          <option value="爱情">爱情</option>
          <option value="科幻">科幻</option>
          <option value="悬疑">悬疑</option>
          <option value="惊悚">惊悚</option>
          <option value="恐怖">恐怖</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info btn-block">搜索</button>
    </div>
</form>