<div style="margin-top: 20px;">
    <div style="display: flex;flex-direction: row">
        <img src="{{src}}" height="320">
        <div style="display: flex;flex-direction: column;margin-left: 20px;">
            <h4 style="color: cornflowerblue;">{{filmTitle}}</h4>
            <h5 style="color: dimgray;font-size: 15px;margin-top: 5px;">上映时间：{{time}}</h5>
            <div>主演：{{actor}}</div>
            <h5 style="color: dimgray;font-size: 14px;margin-top: 8px;">类型：{{type}}</h5>
            <div style="margin-top: 5px;">
                <app-stars [rating]="number"></app-stars>
            </div>
            <h5 style="color: dimgray;font-size: 17px;">{{detail}}</h5>
        </div>
    </div>
</div>